.glow {
    background-image: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/concrete-grey-grunge-textures-4-780x520.jpg');
    background-size: cover;
    background-color: #1a1110;
    background-blend-mode: soft-light;
    padding: 60px;
    padding-top: 90px;;
   }



.navbarCont {
    min-height: 70px;
    width: 100%;
    color: purple;
    background: transparent;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
    position: fixed;
    margin-top: -250px;
    transition: background-color 200ms linear;
    margin-left: -90px;
    width: 105%

}
.navbarCont.scrolled {
    background-color: purple;
}

.navbarCont a {
    text-decoration: none;
    color: purple;
    font-weight: 900;
}
.navbarCont li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}
.wins, .losses {
    display: inline;
    font-weight: 900;
}
.guess-msg {
    display: inline;
}
.navbarCont ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    padding-top: 40px;
    text-align: center;
    color: purple;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: flicker 1.5s infinite alternate; 
}
header h1 {
    font-family: 'Monoton', cursive;
}
.glogo {
    display: inline;
    font-family: 'Monoton', cursive;
    font-weight: 100;
    color: pink;
}
header h2 {
    font-size: 16px;
}
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        color: pink;
        text-shadow:
            -0.2rem -0.2rem .2rem #2f0d40,
            0.2rem 0.2rem .2rem #2f0d40,
            0 0 2rem purple,
            0 0 4rem purple,
            0 0 6rem purple,
            0 0 8rem purple,
            0 0 10rem purple;
        
        box-shadow:
            0 0 .5rem pink,
            inset 0 0 .5rem pink,
            0 0 2rem purple,
            inset 0 0 2rem purple,
            0 0 4rem purple,
            inset 0 0 4rem purple;        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
.click-item {
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
}
.click-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.cont {
    margin-left: -30px;
}

@media only screen and (max-width: 678px){
    h1 {
        font-size: 1.5rem;
    }
    .card {
        width: 46%;
    }
    h2 {
        font-size: 14px;
    }
    .glow {
        padding: 40px;
    }
    .navbarCont {
        margin-left: -60px;
        margin-top: -200px;
    }
}

@media only screen and (max-width: 550px){
    h1 {
        font-size: 1rem !important;
    }
    h2 {
        font-size: 12px !important;
    }
    .glow {
        padding: 20px;
    }
    .navbarCont {
        margin-left: -40px;
        margin-top: -160px;
    }
    .navbarCont ul {
        padding-left: 30px;
        padding-right: 30px;
    }
}